## SPT-AKI server
package-lock.json
Server.exe
Server-Intermediate.exe
.zip
ResourceHacker.ini
project/mods
project/user/

## visual studio
.vs
.idea
slnx.sqlite
slnx-journal.sqlite

## nodejs
node_modules
node.exe

## windows
desktop.ini