## SPT-AKI server
package-lock.json
Server.exe
Server-Intermediate.exe
.zip
ResourceHacker.ini
project/user/logs
project/user/events
project/user/mods
project/user/profiles/
project/user/cert/

## visual studio
.vs
.idea
slnx.sqlite
slnx-journal.sqlite

## nodejs
node_modules
node.exe

## windows
desktop.ini